<footer>
    <nav>
        <button class="dislike-button">
            <span>&#10006;</span>
        </button>
        <button class='like-button'>
            <span>&#9829;</span>
        </button>
    </nav>
</footer>