<header>
    <nav class='navigation'>
        <ul>
            <li>
                <a href="#"><i class="fas fa-fire"></i></a>
            </li>
            <li>
                <a href="#"><i class="fas fa-user-circle"></i></a>
            </li>
            <li>
                <a href="#"><i class="fas fa-comments"></i></a>
            </li>
        </ul>
    </nav>
</header>