<header>
    <nav class='navigation'>
        <ul>
            <li class='profile'>
                <a href="#"><i class="fas fa-user-circle"></i></a>
            </li>
            <li class='home'>
                <div><a href="/">Soundmatch</a></div>
            </li>
        </ul>
    </nav>
</header>