<header>
    <nav class='navigation'>
        <ul>
            <li class='profile'>
                <a href="#"><i class="fas fa-user-circle"></i></a>
            </li>
            <li class='home'>
                <a href="#">Soundmatch</a>
            </li>
        </ul>
    </nav>
</header>