<body>
    {{> header}}
    <main>
        <section class="grid">
            <section id='profile-info'>
                <div class="image-wrapper">
                    <img src="css/images/stockpicture.jpg">
                    <div class='overlay'>
                        <h1>Gemma Chan, 26</h1>
                        <h2>University of Amsterdam</h2>
                    </div>
                </div>
            </section>
            <section id='bio'>
                <p></p>
            </section>
            <section id='spotify-playlist'>
                <ul>
                    <li>
                        <img>
                        <h3></h3>
                        <p></p>
                    </li>
                    <li>
                        <img>
                        <h3></h3>
                        <p></p>
                    </li>
                </ul>
            </section>
            {{> footer}}
        </section>
    </main>
</body>