<body>
    <header>
        <nav></nav>
    </header>
    <main>
        <section class="grid">
            <section id='profile-info'>
                <h1></h1>
                <h2></h2>
            </section>
            <section id='bio'>
                <p></p>
            </section>
            <section id='spotify-playlist'>
                <ul>
                    <li>
                        <img>
                        <h3></h3>
                        <p></p>
                    </li>
                    <li>
                        <img>
                        <h3></h3>
                        <p></p>
                    </li>
                </ul>
            </section>
            <section>
                <button></button>
                <button></button>
            </section>
        </section>
    </main>
</body>