<body>
    {{> header}}
    <main>
        <section class="profile-image">
            <div class="card-image">
                <img src='css/images/profilephoto.jpg'>
            </div>
        </section>
        <section class="bio">
            <div class="card-bio">
                <h1>Charlie Hunnam</h1>
                <h2>24 years old &#8226; University of Amsterdam</h2>
                <article>
                    <p>I'm a student at the University of Amsterdam and I'm currently studying Communication &
                        Multimediadesign.</p>
                    <button class="playlist-button">Checkout my playlist</button>
                </article>
            </div>
        </section>
        {{> footer}}
    </main>
</body>