<body>
    {{> header}}
    <main>
        <section class="profile-image">
            <div class="card">
                <img src='css/images/profilephoto.jpg'>
            </div>
        </section>
        {{> footer}}
    </main>
</body>