<body>
    {{> header}}
    <main>
        <section class="profile-image">
            <div class="image-wrapper">
                <img src=''>
            </div>
        </section>
        {{> footer}}
    </main>
</body>