<body class='playlist'>
    {{> header}}
    <nav class="playlistNav">
        <ul>
            <li><a class='current' href='/playlist'>Playlist</a></li>
            <li><a href='/songs'>Add songs</a></li>
        </ul>
    </nav>
</body>