<body>
    <form action="/playlist" method="POST">
        <h1>Add songs to your playlist</h1>
        <input type='text' name='songName'>
        <input type='text' name='artistName'>
        <input type='text' name='genre'>
        <input type='submit'>
    </form>
</body>