<body class='playlist'>
    {{> header}}
    <nav class="playlistNav">
        <ul>
            <li><a class='current' href='/playlist'>Playlist</a></li>
            <li><a href='/songs'>Add songs</a></li>
            <li><button>Edit</button></li>
        </ul>
    </nav>
    <table>
        <tr>
            <th>Song</th>
            <th>Artist</th>
        </tr>
        <tr>

            <td>Juicy</td>
            <td>Doja Cat</td>
        </tr>
        <tr>
            <td>In My Blood</td>
            <td>Shawn Mendes</td>
        </tr>
        <tr>
            <td>Lost In Japan</td>
            <td>Shawn Mendes</td>
        </tr>
        <tr>
            <td>Stitches</td>
            <td>Shawn Mendes</td>
        </tr>
    </table>
</body>