<body>
    {{> header}}
    <section class='profile-bio'>
        <div class='stock-wrapper'>
            <img class='stockphoto' src='css/images/stockphoto2.jpg'>
        </div>
        <div>
            <h1>Ana de Armas</h1>
            <h2>23 years old &#8226; University of Amnsterdam</h2>
        </div>
    </section>
    <section class="settings-options">
        <ul>
            <li><a href='playlist'>Playlist settings</a></li>
            <li>App settings</li>
            <li>Profile information</li>
            <li>Discovery settings</li>
        </ul>
    </section>
</body