<body class='songs'>
    {{> header}}
    <nav class="playlistNav">
        <ul>
            <li><a href='/playlist'>Playlist</a></li>
            <li><a class='current' href='/songs'>Add songs</a></li>
        </ul>
    </nav>
    <form action="/songs" method="POST">
        <div class="form-card">
            <label for='songName'>Song name</label>
            <input type='text' name='songName'>
            <label for='artistName'>Artist name</label>
            <input type='text' name='artistName'>
            <input type='button' value='&#43;' id='add'>
            <input type='submit' value="Add songs">
        </div>
    </form>
</body>