<body class='songs'>
    {{> header}}
    <nav class="playlistNav">
        <ul>
            <li><a href='/playlist'>Playlist</a></li>
            <li><a class='current' href='/songs'>Add songs</a></li>
        </ul>
    </nav>
    <div class="form-card">
        <h1 class='feedback'>Songs have been added to your playlist!</h1>
    </div>
</body>