<form action="/teamfeature" method="post">
    <div class="form-card">
        <label for='songName'>Song name 1:</label>
        <input type='text' name='songName'>
        <label for='artistName'>Artist name 1:</label>
        <input type='text' name='artistName'>
        <label for='songName'>Song name 2:</label>
        <input type='text' name='songName2'>
        <label for='artistName'>Artist name 2:</label>
        <input type='text' name='artistName2'>
        <input type='submit' value="Add songs">
    </div>
</form>
</body>