<table>
    <tr>
        <th>Song</th>
        <th>Artist</th>
    </tr>
    {{#each top5}}
    <tr>
        <td>{{song1}}</td>
        <td>{{artist1}}</td>
    </tr>
    <tr>

    </tr>
    {{/each}}
</table>