<body>
    {{> header}}
    <div class='playlist-header'>
        <h1>Charlie Hunnam's playlist</h1>
        <h2>3 matching songs</h2>
    </div>
    <div class="playlist-card">
        <table>
            <tr>
                <th>Song</th>
                <th>Artist</th>
            </tr>
            <tr>
                <td>Juicy</td>
                <td>Doja Cat</td>
            </tr>
            <tr>
                <td>In My Blood</td>
                <td>Shawn Mendes</td>
            </tr>
            <tr>
                <td>Lost In Japan</td>
                <td>Shawn Mendes</td>
            </tr>
            <tr>
                <td>Stitches</td>
                <td>Shawn Mendes</td>
            </tr>
        </table>
    </div>
</body>
</body>