html,
body {
    background: white;
    max-width: 100%;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    font-size: 1rem;
}

ul {
    list-style: none;
}

#profile-picture {
    background-image: url(../css/images/kim.jpeg);
    height: 25rem;
}

#personal-info {
    margin: 1rem;
}

#bio {
    margin-bottom: 1rem;
}

#bio h2 {
    font-size: 16px;
}