/* Standard styles */

html,
body {
    background-color: white;
    max-width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    font-size: 1rem;
}

/* Profile info */

ul {
    list-style: none;
}

/* Like and dislike footer */

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding-bottom: 1rem;
    width: 100%;
    height: 4rem;
}

nav {
    display: flex;
    justify-content: center;
    align-content: center;

}

button {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    border: solid 1px lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
}

button:focus {
    outline: none;
    border: none;
}

.like-button,
.dislike-button {
    margin-right: 1rem;
}

.like-button {
    font-size: 3rem;
    color: white;
    background-color: green;
    opacity: 90%;
}

.dislike-button {
    font-size: 2rem;
    color: white;
    background-color: red;
    opacity: 90%;
}