/* Standard styles */

html,
body {
    background-color: ghostwhite;
    max-width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    font-size: 1rem;
}

ul {
    list-style: none;
}

/* Navigation */

.navigation {
    height: 4.5rem;
}

.navigation ul {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

.navigation a {
    text-decoration: none;
    color: silver;
}

i {
    font-size: 2.5rem;
}

/* Profile info */

.image-wrapper {
    width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#profile-info {
    margin-top: .3rem;
}

#profile-info img {
    height: 32rem;
    width: 100%;
    border-radius: 15px;
}

.overlay {
    display: block;
    position: absolute;
    color: white;
    bottom: 0.2rem;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    padding-left: 1rem;
    width: 96%;
    height: 6.5rem;
    opacity: .8;
    border-radius: 0px 0px 15px 15px;
}

.overlay h1 {
    font-size: 1.5rem;
}

.overlay h2 {
    font-size: 1rem;
    line-height: .1rem;
    font-weight: normal;
}

/* Like and dislike navigation */

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding-bottom: 1rem;
    width: 100%;
    height: 4rem;
}

.footer-nav {
    display: flex;
    justify-content: space-evenly;
}

button {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: solid 1px lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
}

button:focus {
    outline: none;
    border: none;
}

.like-button,
.dislike-button {
    margin-right: 1rem;
}

.like-button {
    font-size: 3rem;
    color: white;
    background-color: green;
    opacity: 90%;
}

.dislike-button {
    font-size: 2rem;
    color: red;
    background-color: lightgrey;
    opacity: 90%;
}